<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/angular.js" type="text/javascript"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<script src="js/app.js" type="text/javascript"></script>
	<script src="js/controller.js" type="text/javascript"></script>
	<title>Super Mario: Tic Tac Toe</title>
</head>
<body ng-app="app">
	<div ng-controller="MainController as main">
	<!-- the constructer function MainController is actually "created by the ng-controller directive, the MainController is essentially an object in HTML"  -->
	
		<div>
			<h1>TIC TAC MARIO</h1>
		</div>

		<div id="container">

			<div id="mario">
				<img id="redPic" src="images/mario2.jpg">
				<div ng-show="main.gamePlay.makeMove === true" ng-class="marioTurn" id="marioTurn">Mario's Turn</div>
			</div><!-- end mario -->

			<div id="board">


				<div ng-repeat="square in main.gamePlay.spaces" ng-click="main.playerMove(square)" class="move" ng-class="{redShell: square.move === true, greenShell: square.move === false, marioWins: square.move === 1, luigiWins: square.move === 2, noWin: square.move === 3}">
				
				</div> <!-- end ng-repeat -->	
			</div><!-- end board -->

			<div id="luigi">
				<img id="greenPic" src="images/luigi2.jpg">
				<div ng-show="main.gamePlay.makeMove === false" ng-class="luigiTurn" id="luigiTurn">Luigi's Turn</div>
			</div><!-- end luigi -->

		</div><!-- end container -->

		<div class="reset">
			<button ng-click="main.clearBoard(square)" id="resetButton">PLAY AGAIN</button>	
		</div> <!-- end reset -->

	</div><!-- end controller -->






</body>
</html>